@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Encode+Sans+Semi+Expanded:wght@300&display=swap');


:root
{
    --main-color:#000000;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 1px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --scandry-color: #b5b1af;
}

body{
    font-family: var(--font-family) !important;
    background-color: #000000b0;
}

/* ul li {
    list-style: none;
    display: contents;
} */

a{
    text-decoration: none;
    color: #000000;
}

.hh{
    height: 100vh;
}


.cart-btn{
    background-color: #454545;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.navbar-toggler{
    color: #f0f3f2 !important;
    background-color: inherit !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer !important;
    padding-left: 50px !important;
}


.text{
    position: relative;
    top: 200px;
    left: 0px ;
    right: 0px;
    
}

.toxe-font{
    font-size: 80px !important;
}


 .navv {
    position: absolute;
    top: 0px;
    z-index: 15000000;
    display: flex;
    transition: all 0.2s;
} 
.home-bg{
    background-image:url(assites/img/bgjpg.jpg) ;
    background-size: 100% 100%;
    background-position:100% 100%;
    height: 60vh;
    background-attachment: fixed;

}

.navbar-toggler-icon{
    width: 20px !important;
    height: 20px !important;
}










.icon-sh{
    padding-left: 50px !important;
}


.sc-nav{
    position: absolute;
    top: 0px;
    right:  0px !important;

}


.icons::before{
    content: "";
    background-color:var(--scandry-color);
    width: 2px ;
    height: 20px;
    position: relative;
    top: 5px;
    left:  30px;
}

.card{
    background-color: var(--scandry-color);
}

.image{
    width: 250px !important;
    height: 300px !important;
}

.btn{
    border-radius:0px !important;
    background-color: var(--main-color) !important;
    color: var(--light-color) !important;
}
.btn:hover{
    border-radius:0px !important;
    background-color:rgba(255, 255, 255, 0.382) !important;
}


.bor{
    border:solid #000000 1px !important;
    border-radius: 20px !important;
}

.n-Font{
    font-size: 10% !important;
}

.f-bg{
    background-color: #454545;
}

.f-Font{
    color: var(--light-color) !important;
    font-size: 12px !important;
}

.line::after{
    content: "";
    background-color:var(--scandry-color);
    width: 1px ;
    height: 20px;
    position: relative;
    top: 5px;
}

.footer-c{
    color: var(--scandry-color);
}

.footerLink:hover{
    transition: all .5s;
    color: var(--light-color) !important;
}




.ditelse{
background-color: #ffffff61;
height: 100vh !important;
z-index: 9999999999999999999999999;
position: fixed;
top: 0px;
display: none;

}

.imgg{
    position: relative;
    left: 550px;
    transition: all 1s;
}



.close{
    position: absolute;
    top: 0px ;
    right: 5px;
    font-size: 20px;
    background-color: inherit;
    border: none;
}

.close:hover{
    background-color: #000000;
    color: var(--light-color);
    transition: all .5s !important;
}